/*sidebar styling*/
.tricon {
  font-size: 20px;
  margin: 20px;
  cursor: pointer;
  color: black;
}
.menu {
  width: 18%;
  height: 100vh;
  background-color: black;
  color: white;
  position: fixed;
  top: 0px;
  left: -19%;
  transition: 1s;
}
.menu h2 {
  color: white;
  padding: 25px;
}
.menu ul li a {
  display: block;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
}
.close {
  font-size: 40px;
  color: white;
  cursor: pointer;
  position: absolute;
}
.jmenu {
  left: 0%;
}


canvas {
    width: 400px;
    height: 250px;
    border: 1px solid #3f81bf;
    background-color: rgba(255, 255, 255, 0.87);
  }